body {
  background-color: rgb(245, 247, 248);
  background-image: url('trybe-logo.png');
  background-repeat: no-repeat;
  background-position: 5% 85%;
  background-size: 15%;
}

* {
  color: rgb(3, 68, 34);
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

main {
  background-image: url('plain.png');
  background-repeat: no-repeat;
  background-position: 95% 10%;
  background-size: 15%;
}

h1 {
  background-color: rgb(3, 68, 34);
  padding: 2rem;
  color: rgb(245, 247, 248);
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

form {
  width: 50%;
  margin: auto;
}

fieldset {
  margin-bottom: 1rem;
  border: 1px solid rgba(3, 68, 34, 0.3);
  border-radius: 10px;
  padding: 1rem;
}

legend {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
}

label {
  font-weight: 500;
  font-size: 1.2rem;
}

#question {
  height: 7rem;
}

#field-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#field-date legend {
  width: fit-content;
  margin-right: 2rem;
}

#date {
  color: rgb(3, 68, 34);
  border: 2px solid rgb(3, 68, 34);
  background: rgb(245, 247, 248);
  padding: 10px;
  border-radius: 10px;
}

#buttons {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
